VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SHOPEE_PARTNER_ID=
VITE_SHOPEE_REDIRECT_URI=http://localhost:8080/auth/shopee/callback
VITE_DEMO_MODE=false
VITE_FIREBASE_API_KEY=
